# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore .htaccess
.htaccess

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore environment variables file
.env

# Ignore database dumps
*/*.sql
